/*page-loader*/
.skeletonA, .skeletonC {
  visibility: visible;
  animation: skeleton-loading  1s linear infinite alternate;
}
.skeletonB {
  visibility: visible;
  animation: skeleton-loading  1s linear infinite alternate;
}
/*tags*/

body{
  background-color: rgb(83, 83, 81);
  font-size: 2rem;
}

img{
  border-radius: 2%;
  box-shadow: 10px 10px 10px #777;
  border: 10px ridge white;
}
figcaption{
  border: 5px solid rgb(101, 101, 95);
  text-align: center;
  box-shadow: 10px 10px 10px #777;
  
}
/*id*/
#gallery {
  display:flex;
  flex-direction: row;
  justify-content:space-around;
}

#gifFigure{
  align-content: center;
 justify-self: center;
}

/*class*/

.hidden{
    display: none;
    
  }

/*other*/
@keyframes skeleton-loading {
  0% {background-color: #939491}
  100% {background-color: #939491;}
}

@media (max-width: 600px) {
  #gallery{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
  }
  
}