#gallery {
  display:flex;
  flex-direction: row;
  justify-content:space-around;
}
img{
  border-radius: 2%;
  box-shadow: 10px 10px 10px #777;

}
#gifFigure{
  align-content: center;
}
  header{
    text-align: center;
  }
  
  body{
    background-color: rgb(83, 83, 81);
    font-size: 2rem;
  }
  button{
    font-size: 1.7rem;
    margin: auto;
    background-color: rgb(235, 224, 214);
    display: flex;
  }
  h3{
    text-decoration: underline;
  }
  ul{
    list-style: none;
  }
  
  .hidden{
    display: none;
    
  }


li {
  padding: 5rem 1rem;
  text-align: center;
}
@media (min-width: 500px) {
  #gallery{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
  }
  
}